<clr-datagrid>
    <clr-dg-column>Image</clr-dg-column>
    <clr-dg-column>Movie title</clr-dg-column>
    <clr-dg-column>Score</clr-dg-column>
    <clr-dg-column>Status</clr-dg-column>
    <clr-dg-column>Edit</clr-dg-column>

    <clr-dg-row *ngFor="let favorite of fav$.favorite">
        <clr-dg-cell></clr-dg-cell>
        <clr-dg-cell>{{favorite.title}}</clr-dg-cell>
        <clr-dg-cell>{{favorite.score}}</clr-dg-cell>
        <clr-dg-cell>{{favorite.status}}</clr-dg-cell>
        <clr-dg-cell>
            <button class="btn btn-info btn-sm" (click) = "editFavorite(favorite)" routerLink="/favEdit">Edit</button>
            <button class="btn btn-danger-outline btn-sm" (click) = "favDelete(favorite)">Delete</button>
        </clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>

