<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-xs-12">
    <h2>Popular</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 offset-lg-1 col-md-12 col-sm-12 col-xs-12">
    <h2>Upcoming</h2>
    <!--<app-upcoming></app-upcoming>-->
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
     <app-popular-movies></app-popular-movies>
  </div>
  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
    <!--<app-fav-list></app-fav-list>-->
    <app-my-list-card></app-my-list-card>
  </div>
</div>

