   <div>
      <div *ngIf="top$.popular" class="row card-group">
        <div class="col-lg-2  col-md-12 col-sm-12 col-xs-12" *ngFor="let popular of top$.popular.results; let i=index">
          <div class="card" *ngIf="i<18">
            <div class="card-img">
              <img src="http://image.tmdb.org/t/p/w500//{{popular.poster_path}}">
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link" (click)="addFavorite(popular)">Favorite</button>
            </div>
          </div>
        </div>
      </div>
    </div>
 