<div class="row">
  <div class="col-lg-8 offset-lg-1 col-md-12 col-sm-12 col-xs-12">
    <h2>Popular</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 offset-lg-1 col-md-12 col-sm-12 col-xs-12">
    <div>
      <div *ngIf="top$.popular" class="row card-group">
        <div class="col-lg-2  col-md-12 col-sm-12 col-xs-12" *ngFor="let popular of top$.popular.results">
          <div class="card">
            <!--<div class="card-block">-->
            <!--  <div class="card-title">-->
            <!--    {{ popular.title }}-->
            <!--  </div>-->
            <!--</div>-->
            <div class="card-img">
              <img src="http://image.tmdb.org/t/p/w500//{{popular.poster_path}}">
            </div>
            <!--<div class="card-text">-->
            <!--  {{ popular.overview }}-->
            <!--</div>-->

            <div class="card-footer">
              <button class="btn btn-sm btn-link" (click)="addFavorite(popular.title)">Favorite</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 offset-lg-1 col-md-12 col-sm-12 col-xs-12">
    <app-fav-list></app-fav-list>
  </div>
</div>